<div class="container">
	<p>
		<%= link_to 'Create new question', new_question_path, class: 'button button-main' %>
	</p>

	<p><%= render 'form', question: @question %></p>
</div>

<div class="container mt">
	<h1 class="title-lg">
		<%= @questions.count %>
		<%= inclination(@questions.count, 'question', 'questions') %>
	</h1>
</div>

<% @questions.each do |question| %>
	<div class="container mt-sm <%= 'translucent' if question.hidden? %>">
		<%= render question %>
	</div>
<% end %>
