<div class="container mt">
  <h1 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'question', 'questions') %>
    with hashtag #<%= @hashtag.name %>
  </h1>
</div>

<% @questions.each do |question| %>
  <div class="container mt-sm <%= 'translucent' if question.hidden? %>">
    <%= render question %>
  </div>
<% end %>
