<h2 class="title-lg">Question</h2>

<p class="mt"><%= @question.body %></p>
<p>User_id: <%= @question.user_id %></p>

<p class="mt"><%= link_to 'Edit this question', edit_question_path(@question) %></p>
<p class="mt"><%= button_to 'Delete this question', question_path(@question), method: :delete %></p>

<p class="mt"><%= link_to 'Main page', questions_path %></p>
