<div class="container">
	<h2 class="title-lg">Question</h2>

	<p class="mt"><%= @question.body %></p>
	<p>User_id: <%= @question.user_id %></p>

	<div class="mt">
		<%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Edit this question' %>
		<%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, 
		title: 'Delete this question' %>
	</div>

	<p class="mt"><%= link_to 'Main page', questions_path %></p>
</div>
