<div class="user-box">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>

  <p class="mt">
    <%= render partial: 'user_avatar', locals: {user: @user} %>
  </p>

  <% if current_user == @user %>
    <p class="mt mb-lg"><%= link_to fa_icon('pencil'), edit_user_path(@user) %></p>
  <% end %>
  <p class="text-bold mt mb-lg"><%= display_nickname(@user) %></p>
</div>

<% if @questions.count.zero? %>
  <%= render 'no_questions', user: @user %>
<% else %>
  <div class="container">
    <%= link_to 'Ask me', new_question_path(nickname: @user),
                class: 'button button-yellow' %>

    <p><%= render 'questions/form', question: @question %></p>
  </div>

  <div class="container mt">
    <h1 class="title-lg">
      <%= @questions.count %>
      <%= inclination(@questions.count, 'question', 'questions') %>
    </h1>
  </div>

  <% @questions.each do |question| %>
    <div class="container mt-sm <%= 'translucent' if question.hidden? %>">
      <%= render question %>
    </div>
  <% end %>
<% end %>
