<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar" style="background-color: 
        <%= current_user&.navbar_color || '#370617' %>;">
        <p class="title-sm text-bold"><%= link_to 'ask.me', root_path %></p>
        <div>
          <% if current_user.present? %>
            <span class="mr-sm">
              <%= link_to display_nickname(current_user), user_path(current_user) %>
            </span>
            <%= button_to 'Sign out', session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign up', new_user_path, class: 'button button-yellow mr-sm' %>
            <%= link_to 'Sign in', new_session_path, class: 'button button-yellow' %>
          <% end %>
        </div>
      </div>
      <% if flash[:notice].present? %>
        <p class="mt mb message message-notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="mt mb message message-alert"><%= flash[:alert] %></p>
      <% end %>
      
      <%= yield %>
    </div>  
  </body>
</html>
